/* * {
    border: 1px slateblue solid;
} */

.main__container {
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;

    background-color: #FDE291;
}

.main__form {
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;

    background-color: #FDFFBF;
}

.main__comments {
    padding: 20px;
}

.comment-wrap {
    margin-bottom: 10px;
}

.avatar,
.author,
.comment {
    border: 1px solid sandybrown;
    border-radius: 20px;

    background-color: white;
}

.avatar {
    width: 54px;
    padding: 2px;
}

.author {
    padding: 4px;

    color: brown;
    font-weight: bolder;
}

.comment {
    padding: 4px;
}


.button {
    font-size: 1.2em;
    font-weight: 600;
    color:white;
}